h1 {
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.abc{
    font-size: 30px;
}

body {
    background-color: chartreuse;
}

p {
    color: rgb(255, 0, 157);
}

h1,p{
   color: rgb(238, 130, 130);
}

h1{
    border:solid  rgb(240, 1, 1);
}

